<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">CRUDzin</a>
    <a class="nav-link badge badge-primary" href="/"><h6><span>Início</span></h6></a>
    <a class="nav-link badge badge-primary" href="/api"><h6><span>API</span></h6></a>
    <a class="nav-link badge badge-primary" href="/cadastro"><h6><span>Cadastrar</span></h6></a>
     <form action="/id/" method="POST" class="form-inline">
     <input class="form-control mr-sm-2" type="search" name="id" placeholder="Procurar por ID" aria-label="Search">
     <button type="submit" class="btn btn-primary my-2 my-sm-0">Buscar</button>
     </form>
</nav>