<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">CRUDzin</a>
    <a class="nav-link badge badge-primary" href="/"><h6><span>Início</span></h6></a>
    <a class="nav-link badge badge-primary" href="/api"><h6><span>API</span></h6></a>
    <a class="nav-link badge badge-primary" href="/cadastro"><h6><span>Cadastrar</span></h6></a>
    <form action="/usuarios/" class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Procurar por ID" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</nav>